@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:wght@300&family=Press+Start+2P&display=swap');

body {
    background-color: #041562;
    font-family: 'Comfortaa', cursive;
    margin-top: 50px;
}

#titulo-mokepon {
    height: 160px;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloMapa {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.subtitulo {
    margin-top: 10px;
    color: white;
    font-size: 40px;
    font-family: 'Comfortaa', cursive;
}

.tarjetas {
    display: flex;
    flex-direction: row;
}

.tarjeta-de-mokepones {
    width: 180px;
    height: 100px;
    background-color: #11468f;
    padding: 20px;
    margin: 10px;
    border: 1px solid lightblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepones p {
    font-size: 20px;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.tarjeta-de-mokepones img {
    width: 100px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    margin-top: 20px;
    border: 2px solid white;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

input {
    display: none;
}

input:checked+label {
    background-color: #5D8DF4;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas-ataques {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones-ataque {
    background-color: #11468f;
    border-radius: 20px;
    border: 2px solid lightblue;
    padding: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Comfortaa', cursive;
    margin: 20px 15px;
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mensajes {
    width: 280px;
    background-color: #11468f;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#boton-reiniciar {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    color: #041562;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 50px;
}

#vidas-jugador,
#vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
    color: white;
}

.ataque-jugador,
.ataque-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#vidasJugador,
#vidasEnemigo {
    font-size: 40px;
    margin: 25px 0px;
}

#mascotaJugador,
#mascotaEnemigo {
    font-size: 20px;
    margin-top: 10px;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    margin-bottom: 10px;
}

#ver-mapa button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

@media (max-width: 750px) {

    body {
        padding: 10px;
    }

    .tarjeta-de-mokepones {
        width: 140px;
        height: 150px;
        flex-direction: column-reverse;
        
    }

}

@media (max-width: 560px) {

    body {
        padding: 0px;
        margin-top: 10px;
    }

    #titulo-mokepon {
        height: 140px;
    }

    .subtitulo {
        font-size: 20px;
    }

    #contenedorTarjetas {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .tarjetas,
    .tarjetas-ataques {
        flex-direction: column;
        gap: 5px;
    }

    .tarjeta-de-mokepones {
        width: 130px;
        height: 140px;
    }

    .tarjeta-de-mokepones p {
        font-size: 20px;
    }

    .tarjeta-de-mokepones img {
        width: 80px;
    }

    #ver-mapa {
        margin-top: 50px;
    }

    #boton-mascota {
        width: 150px;
    }

    .botones-ataque {
        margin-bottom: 0px;
    }

    #mensajes {
        width: 230px;
    }

    #resultado {
        font-size: 18px;
    }

}

@media (max-width: 450px) {
    body {
        margin-top: 10px;
    }

    #titulo-mokepon {
        height: 120px;
    }


    #ver-mapa div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjeta-de-mokepones img {
        width: 60px;
    }
}

@media (max-width: 350px) {

    body {
        margin-top: 10px;
    }

    #titulo-mokepon {
        height: 100px;
    }

    .tarjeta-de-mokepones {
        height: 90px;
    }

    .tarjeta-de-mokepones img {
        width: 60px;
    }

    .tarjetas-ataques {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}